.regular-filled-btn {
  @apply transition ease-in-out duration-150 bg-blue border border-blue 
    text-white active:bg-blue hover:bg-white active:text-white hover:text-blue 
    font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none 
    focus:outline-none flex justify-center items-center text-center;
}

.regular-outline-btn {
  @apply transition ease-in-out duration-150 text-blue border border-blue
     hover:bg-blue hover:text-white active:bg-blue font-bold uppercase text-sm 
     px-6 py-3 rounded outline-none focus:outline-none flex justify-center items-center text-center;
}

a {
  @apply transition ease-in-out duration-200;
}

a:hover {
  color: rgba(0,51,102,.5);
}

.stretched-link::after {
  content: "";
  /* background-color: rgba(0,0,0,0); */
  @apply absolute top-0 right-0 left-0 bottom-0 z-[1] pointer-events-auto bg-transparent;
}
