/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-blue {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(50%, #036),
    color-stop(70%, #008fd1),
    color-stop(90%, #036)
  );
  background-image: linear-gradient(-270deg, #036 50%, #008fd1 70%, #036 90%);
}

.base-box-shadow {
  -webkit-box-shadow: 0 3px 3px 0 rgb(0 0 0 / 35%);
  box-shadow: 0 3px 3px 0 rgb(0 0 0 / 35%);
}

@layer utilities {
  .base-border-bottom {
    border-bottom: 0.3125rem solid #6c0;
  }

  .second-border-bottom {
    border-bottom: 0.1125rem solid #6c0;
  }
}

.main-nav {
  @apply relative flex flex-wrap items-center justify-between px-2 py-3 base-border-bottom base-box-shadow mb-3;
}

.main-nav .nav-link {
  @apply px-3 py-2 flex items-center text-lg uppercase font-bold leading-snug text-white hover:opacity-75;
}

.main-nav .main-navbar {
  @apply flex flex-col lg:flex-row list-none ml-auto;
}

.main-nav .nav-item {
  border-bottom: 0.1125rem solid transparent;
  @apply py-2 lg:px-4 lg:hover:second-border-bottom;
}

.mobile-menu {
  @apply text-white cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none;
}
